/* 
COLORS:
DARK GRAY - #313131
LIGHT GRAY - #a0a0a0
BLACK - pure black 
WHITE - #fdfdfd
ORANGE - #f69906

Border
#405568
*/

body,html {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}


.phone {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-color: #405568;
    border-style: solid;
    border-radius: 20px;
    width: 300px;
    height: 500px;
    background-color: black;
}
